node_modules/
__pycache__/
.env
*.pyc
.next/
.DS_Store
backend/venv/
backend/.DS_Store
backend/src/data/
*.egg-info/
backend/src/routes.log
backend/src/sessions/
backend/uv.lock
frontend/main.py
workspace.sh
